{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="{{ url_for('index') }}" method="post">
        Currency:
        <select class="form-control" name="currency">
            <option value="{{ selected_curr }}">{{ selected_curr }}</option>
            {% for exchange_symbol in exchange_symbols %}
            {% if exchange_symbol!=selected_curr %}
            <option value="{{ exchange_symbol }}">{{ exchange_symbol }}</option>
            {% endif %}
            {% endfor %}
        </select>
        .<br>
        <button class="btn btn-danger" type="submit" value="Submit">Change Currency</button>
    </form>
    <br>
    <table class="table table-striped" style="width: 100%">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price({{ selected_curr }})</th>
            <th>TOTAL({{ selected_curr }})</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.shares }}</td>
            <td>${% set price = stock.price | float %}{{ "%.2f"|format(price * newCurr)}}</td>
            <td>${% set price = stock.total | float %}{{ "%.2f"|format(price * newCurr)}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>${% set price = cash | float %}{{ "%.2f"|format(price * newCurr)}}</td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>${% set price = total | float %}{{ "%.2f"|format(price * newCurr)}}</b></td>
        </tr>
    </table>
{% endblock %}
